[submodule "libstd"]
	path = libstd
	url = git@github.com:AndreIglesias/libstd.git
[submodule "libstring"]
	path = libstring
	url = git@github.com:AndreIglesias/libstring.git
[submodule "libELF"]
	path = libELF
	url = git@github.com:AndreIglesias/libELF.git
[submodule "libalgorithm"]
	path = libalgorithm
	url = git@github.com:AndreIglesias/libalgorithm.git
[submodule "libtypes"]
	path = libtypes
	url = git@github.com:AndreIglesias/libtypes.git
